{% load static %} {% include "headlink.html" %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
  <div class="container text-center my-5 pt-5 pb-4">
    <h1 class="display-3 text-white mb-3 animated slideInDown">About Us</h1>
    <nav aria-label="breadcrumb">
      <ol class="breadcrumb justify-content-center text-uppercase">
        <li class="breadcrumb-item"><a href="#">Home</a></li>
        <li class="breadcrumb-item"><a href="#">Pages</a></li>
        <li class="breadcrumb-item text-white active" aria-current="page">
          About
        </li>
      </ol>
    </nav>
  </div>
</div>
<!-- Navbar & Hero End -->

<!-- About Start -->
<div class="container-xxl py-5">
  <div class="container">
    <div class="row g-5 align-items-center">
      <div class="col-lg-6">
        <div class="row g-3">
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.1s"
              src="../static/images/about-1.jpg"
            />
          </div>
          <div class="col-6 text-start">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.3s"
              src="../static/images/about-2.jpg"
              style="margin-top: 25%"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-75 wow zoomIn"
              data-wow-delay="0.5s"
              src="../static/images/about-3.jpg"
            />
          </div>
          <div class="col-6 text-end">
            <img
              class="img-fluid rounded w-100 wow zoomIn"
              data-wow-delay="0.7s"
              src="../static/images/about-3.jpg"
            />
          </div>
        </div>
      </div>
      <div class="col-lg-6">
        <h5
          class="section-title ff-secondary text-start text-primary fw-normal"
        >
          About Us
        </h5>
        <h1 class="mb-4">
          Welcome to <i class="fa fa-utensils text-primary me-2"></i>Restoran
        </h1>
        <p class="mb-4">
          At Dadys Restaurant, we believe in creating unforgettable dining experiences.
          Our passion for food drives us to deliver the finest dishes crafted with the freshest ingredients. 
          Whether you're here for a casual lunch, a romantic dinner, or a family celebration, our warm and inviting atmosphere is perfect for any occasion.
        </p>
        <div class="row g-4 mb-4">
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                15
              </h1>
              <div class="ps-4">
                <p class="mb-0">Years of</p>
                <h6 class="text-uppercase mb-0">Experience</h6>
              </div>
            </div>
          </div>
          <div class="col-sm-6">
            <div
              class="d-flex align-items-center border-start border-5 border-primary px-3"
            >
              <h1
                class="flex-shrink-0 display-5 text-primary mb-0"
                data-toggle="counter-up"
              >
                50
              </h1>
              <div class="ps-4">
                <p class="mb-0">Popular</p>
                <h6 class="text-uppercase mb-0">Master Chefs</h6>
              </div>
            </div>
          </div>
        </div>
        <a class="btn btn-primary py-3 px-5 mt-2" href="">Read More</a>
      </div>
    </div>
  </div>
</div>
<!-- About End -->

<!-- Team Start -->
<div class="container-xxl pt-5 pb-3">
  <div class="container">
    <div class="text-center wow fadeInUp" data-wow-delay="0.1s">
      <h5 class="section-title ff-secondary text-center text-primary fw-normal">
        Team Members
      </h5>

      <h1 class="mb-5">Our Master Chefs</h1>
    </div>
    <div class="row g-4">
      {% for member in members %}
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.1s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="{{ member.image.url }}" alt="" />
          </div>
          <h5 class="mb-0">{{ member.full_name }}</h5>
          <small>{{ member.designation }}</small>
          <div class="d-flex justify-content-center mt-3">
            {% if member.facebook_url %}
            <a class="btn btn-square btn-primary mx-1" href="{{ member.facebook_url }}"
              ><i class="fab fa-facebook-f"></i
            ></a>
            {% endif %}
            {% if member.twitter_url %}
            <a class="btn btn-square btn-primary mx-1" href="{{ member.twitter_url }}"
              ><i class="fab fa-twitter"></i
            ></a>
            {% endif %}
            {% if member.instagram_url %}
            <a class="btn btn-square btn-primary mx-1" href="{{ member.instagram_url }}"
              ><i class="fab fa-instagram"></i
            ></a>
            {% endif %}
          </div>
        </div>
      </div>
      {% endfor %}
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.3s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../static/images/team-2.jpg" alt="" />
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.5s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../static/images/team-3.jpg" alt="" />
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
      <div class="col-lg-3 col-md-6 wow fadeInUp" data-wow-delay="0.7s">
        <div class="team-item text-center rounded overflow-hidden">
          <div class="rounded-circle overflow-hidden m-4">
            <img class="img-fluid" src="../static/images/team-4.jpg" alt="" />
          </div>
          <h5 class="mb-0">Full Name</h5>
          <small>Designation</small>
          <div class="d-flex justify-content-center mt-3">
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-facebook-f"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-twitter"></i
            ></a>
            <a class="btn btn-square btn-primary mx-1" href=""
              ><i class="fab fa-instagram"></i
            ></a>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
<!-- Team End -->

<!-- Footer Start -->
{% include "footer.html" %}
