{% load static %} {% include "headlink.html" %}

<div class="container-xxl py-5 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Email</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="/index">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">About</li>
            </ol>
        </nav>
    </div>
</div>

<div class="container">
    <h2>Reset your password</h2>
    <form method="post" action="{% url 'password_reset_request' %}">
        {% csrf_token %}
        <div class="form-group" style="width: 30%;">
            <label for="email" class="form-label">Email:</label>
            <input type="email" class="form-control form-control-sm" id="email" name="email" required/>
        </div>
        <button type="submit" class="btn btn-primary">Send OTP</button>
    </form>
</div>

{% include "footer.html" %}