{% load static %}
{% include "headlink.html" %}

<div class="container-xxl py-5 px-0 bg-dark hero-header mb-5">
    <div class="container text-center my-5 pt-5 pb-4">
        <h1 class="display-3 text-white mb-3 animated slideInDown">Customer Reservations</h1>
        <nav aria-label="breadcrumb">
            <ol class="breadcrumb justify-content-center text-uppercase">
                <li class="breadcrumb-item"><a href="#">Home</a></li>
                <li class="breadcrumb-item"><a href="#">Pages</a></li>
                <li class="breadcrumb-item text-white active" aria-current="page">
                    Reservations
                </li>
            </ol>
        </nav>
    </div>
</div>

{% include "messages.html" %}
<div class="container-xxl py-5 px-0 wow fadeInUp" data-wow-delay="0.1s">
    <div class="row g-0">
        <div class="col-md-6 bg-dark d-flex align-items-center" style="width: 100%;">
            <div class="p-5 wow fadeInUp" data-wow-delay="0.2s">
                <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                <h1 class="text-white mb-4">Book A Table Online</h1>
                <form method="post" action="">
                    {% csrf_token %}
                    <div class="row g-2">
                        <div class="col-md-5">
                            <div class="form-floating">
                                <input type="text" class="form-control" id="name" name="name" placeholder="Your Name"
                                    required>
                                <label for="name">Your Name</label>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <div class="form-floating">
                                <input type="email" class="form-control" id="email" name="email"
                                    placeholder="Your Email" required>
                                <label for="email">Your Email</label>
                            </div>
                        </div>
                    </div>




                    <div class="col-md-6 bg-dark d-flex align-items-center" style="width: 100%;">
                        <div class="p-6 wow fadeInUp" data-wow-delay="0.2s">
                            <h5 class="section-title ff-secondary text-start text-primary fw-normal">Reservation</h5>
                            <h1 class="text-white mb-4">Upcoming Reservations</h1>
                            <h1 class="text-white mb-4">{{ request.user.first_name|default:request.user.username }}</h1>
                            <table class="table table-dark table-striped" style="width: 70%;">
                                <thead>
                                    <tr>
                                        <th class="text-left">Name</th>
                                        <th class="text-left">Email</th>
                                        <th class="text-left">Date & Time</th>
                                        <th class="text-left">People</th>
                                        <th class="text-left">Special Request</th>
                                        <th class="text-left">Status</th><br><br><br>
                                        <th class="text-left">COMPLETE</th>

                                    </tr>
                                </thead>
                                <tbody>
                                    {% for reservation in reservations %}
                                    <tr>
                                        <td>{{ reservation.name }}</td>
                                        <td>{{ reservation.email }}</td>
                                        <td>{{ reservation.date_time }}</td>
                                        <td>{{ reservation.num_people }}</td>
                                        <td>{{ reservation.special_request }}</td>
                                        <td>
                                            {% if reservation.is_reserved %}
                                            <span class="badge bg-success">Reserved</span>
                                            {% else%}
                                            <span class="badge bg-danger">On-Waiting</span>
                                            {% endif %}
                                        </td>
                                        <td>
                                            {% if reservation.is_reserved %}
                                            <span class="badge bg-success">completed</span>
                                            {% else%}
                                            <span class="badge bg-danger">ON-Board</span>
                                            {% endif %}
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>
{% include "footer.html" %}